* {
    margin: 0;
    padding: 0;
    font-family: Noto-Serif ;
}



html {
    scroll-behavior: smooth;
}


header {
    background-color: #020111;
    width: 100%;
    height: 10%;
    box-shadow: 0 0 5px #59E6F0;
    /* fixa na tela */
    position: fixed; 
    top: 0;
    
}

header nav {
    float: right;
    margin-right: 100px;

}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin: 35px;
    
    font-size: 20px;
    text-transform:none;
    font-weight: bold;
    margin-top: 22px ;
}

header nav ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family: Jaro, Arial, Verdana;
    text-transform: uppercase;
    -webkit-text-stroke-width: 0px ; /* largura da borda */
    -webkit-text-stroke-color: #04eeff  ; /* cor da borda */
    text-shadow: #FE51FE 2px 2px;
    
   
  
    
}

header nav ul a:hover {
color :  #FF98FF ;
}

.imagem {
    width: 265px;
    height: 80px;
    margin-top: 2px;

}
.centro {
    width: 1000px;
    margin: auto;
}


    

body {
    font-family: Arial, Verdana;
    font-size: 25px;
    padding-top: 100px;
    
}

h2 {
    text-align:center;
    text-transform:uppercase;
    font-size: 32px;
    font-family:  Verdana;
    text-transform: uppercase;
    -webkit-text-stroke-width: 0.5px; /* largura da borda */
    -webkit-text-stroke-color: #FE51FE; ; /* cor da borda */
    text-shadow: #59E6F0 2px 2px;
}

#sobre-mim {
    background-color: #020111;  
    box-shadow: 0 0 5px #59E6F0;
    
}

section {
    padding-top: 150px;
    padding-bottom: 150px;

}



#inicio h2 {
    font-size: 40px;
    
}

#inicio {
    box-shadow: 0 0 0px #59E6F0;
    
}

#inicio p {
    font-size: 40px;
    margin-top: 50px;
}

#jogo {
    background-color: #020111;
    box-shadow:0 0 5px #59E6F0; 
    margin-bottom: 100px;
}
 
#jogo h3 {
    text-align: center;
    margin-top: 40px;
}

#jogo h2 {
    font-size: 50px;
    margin-bottom: 100px;
}

#jogo h3 {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family: Jaro, Arial, Verdana;
    text-transform: uppercase;
    -webkit-text-stroke-width: 0px ; /* largura da borda */
    -webkit-text-stroke-color: #04eeff  ; /* cor da borda */
    text-shadow: #FE51FE 2px 2px;
    margin-top: 130px;
    margin-bottom: 10px;

}

.flex {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex .flex-coluna {
    width: 46%;
    margin: 5px;
    padding: 10px;
    border:solid 2px #ff04c9 ;
    box-shadow: 0 0 30px #f800e3;
    text-align:center;
    background-color: rgb(95, 188, 216);


}


.desafio1 {
    width:98%;
    border: solid 2px #ff04c9;
    border-radius: 5px;
    box-shadow: 50px;

}

.desafio2 {
    width: 300px;
    height: px;
    padding-right: 100px;
    
}

.desafio3 {
    width: 300px;

}


.titulolava {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family: Jaro, Arial, Verdana;
    text-transform: uppercase;
    -webkit-text-stroke-width: 0px ; /* largura da borda */
    -webkit-text-stroke-color: #04eeff  ; /* cor da borda */
    text-shadow: #04eeff 2px 2px;
    text-align:center;
    margin-bottom: 25px;
    font-size: 45px;

    }

p {
    padding-top:30px;
    text-shadow:#59E6F0 0.2px 0.2px;
    -webkit-text-stroke-width: 0.3px; /* largura da borda */
    -webkit-text-stroke-color: #666; ; /* cor da borda */
    
}

.titulogrid {

    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family: Jaro, Arial, Verdana;
    text-transform: uppercase;
    -webkit-text-stroke-width: 0px ; /* largura da borda */
    -webkit-text-stroke-color: #04eeff  ; /* cor da borda */
    text-shadow: #04eeff 2px 2px;
    text-align:center;
    margin-bottom: 25px;
    font-size: 45px;
}

.flex p {

    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family: Jaro, Arial, Verdana;
    text-transform: uppercase;
    -webkit-text-stroke-width: 0px ; /* largura da borda */
    -webkit-text-stroke-color: #04eeff  ; /* cor da borda */
    text-shadow: #4f04ff 2px 2px;
    text-align:center;
    margin-bottom: 25px;
    font-size: 45px;
}
#contato {
    background-color: #020111;
}

input, textarea
{
    width:100%;
    border: 1px solid #CCC;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom:10px;


}

label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    font-size:15px;
}


#entreemcontato {
    text-align:center;
    text-transform:uppercase;
    font-size: 30px;
    font-family:  Verdana;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: #FE51FE; ; /* cor da borda */
    text-shadow: #59E6F0 2px 2px;
    margin-bottom: 20px;
}

label {
    font-size: 21px;
}

#minhadescricao {

    font-size: 35px;
    text-align:initial;
    margin-left: 250px;
    margin-right: 200px;
    
}

#minhafoto { 
    display: inline-flex;
    width: 300px;
    height: 350px;
    border-radius:20px;
    box-shadow:   0 0 10px rgb(248, 169, 225);
    margin-left: 200px;
    margin-top: 27px;
    border: solid;
    border-width: 2px ;
    border-color: #FE51FE;


    }

.container {
    display: flex;
   
}

.container #minhafoto {
    margin-right:10px;
}

#titulosobremim { 
margin-bottom: 40px;
margin-left: 30px;
margin-bottom: 200px;
text-shadow: #aa29bb;
font-size: 60px;
}

body {
    background-color: #282A3E;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

button { 
    font-size: 20px;
    background-color:#59E6F0;
    padding:10px;
    border:0;
    margin-top: 10px;
    font-family: Jaro;
}

button:hover {
    background-color:#FE51FE;
}

#contato {
    background-color:#282A3E;
}

#contato ul {
    list-style: none;
}

#contato ul li {
    display: inline-block;
    margin-top: 50px;
    padding-left: 20px;
}

.iframeGame {
    margin:auto

}